input{
  display: block;
  width: 200px;
  padding: 10px 15px;
  margin: 20px auto;
}
.movie{
  text-align: center;
  background-color: whitesmoke;
}
.movie button{
  display: block;
  background-color: red;
  color: white;
  width: 80px;
  height: 30px;
  margin: 20px auto;
}
